<!-- <form [formGroup]="AAK" (ngSubmit)="onClickM()">
    <label>
        Name:
        <input type="text" formControlName="name">
    </label>

    <label>
        class:
        <input type="text" formControlName="class">
    </label>

    <label>
        id:
        <input type="text" formControlName="id">
    </label>
    <button>Submit</button>
</form> -->
<!-- <form [formGroup]="form">
    <div>

        <h2>FORM ARRAY</h2>
        <button (click)="addCreds()">NEW</button>

        <div formArrayName="credentials" *ngFor="let creds of form.get('credentials')?.controls; let i = index">
            <ng-container [formGroupName]="i">
                <input placeholder="Username" formControlName="username">
                <input placeholder="todo" formControlName="todo">
            </ng-container>
        </div>

    </div>
</form>
<button (click)="onClickM()">Array Status</button> -->

<div class="form-group">
    <label for="exampleInputEmail" class="text-white">Email Address</label>
    <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail">
</div>


<div class="row">
    <div class="col-6">
        <app-child-comp [parentEmail]="email"></app-child-comp>
    </div>
    <!-- <div class="col-6">
        <app-child-comp [parentEmail]="email"></app-child-comp>
    </div> -->
</div>